html{
    margin:0;
    font-size:10px;
    font-family:xanhmono;
    box-sizing: border-box;
    color:rgb(74, 74, 74);
}

body{
    font-size: 1.6rem;
    font-family: xanhmono;
    margin: 0;
    background-color: blue;
    border-radius: 2px;
}
header{
    color: white;
    font-family: xanhmono;
    font-size: 2rem;
    border-bottom:1px solid rgb(193, 193, 193)
}
footer{
    display: flex;
    font-size: 8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
    justify-content: right;
    margin-right: 4rem;
}

p{
    color: white;
}

@font-face {
    font-family:'xanhmono';
    src: url('xanhmono.woff') format('woff'),
    url('xanhmono.woff') format('woff'),

}



.onpunc{
    background-color: black;
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: justify;
    font-size: 2.5rem;
    align-items: center;
    color: white;
    font-family: xanhmono;

}

.onpunc:hover .hidden{
    background-color: red;
    display: block;
}

.hidden{
    display: none;
}


.button{
    background-color: blue;
}

.typewriter{
    font-size: 3px;
}

#demo{
    font-size: 14rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}